*{margin:0px;padding:0px;font-family:segoe ui;font-size:14px;background-color:transparent;}
body{background-color:#000;}
#global_wrap{width:940px;margin:0 30px;}


/* HOME */
.panel{width:910px;height:480px;border-radius:40px;}
.graph{display:inline-block;vertical-align:top;}
.buttons{display:inline-block;vertical-align:top;overflow:hidden;}
.button{border-radius:16px;border:solid 1px #999;font-size:26px;text-align:center;cursor:pointer;}


#bad{border:solid 2px #f44;box-shadow:4px 4px 50px 5px #f88;background-color:#300;margin-bottom:0px;margin-top:0px;}
#bad .graph{width:580px;padding:16px 0px 0px 26px;}
#bad .buttons{width:280px;}
#bad .buttons ul{width:300px;list-style:none;}
#bad .buttons ul li{width:300px;margin:10px 0;}
#bad .button{width:250px;height:60px;padding-top:18px;background-color:#fcc;color:#333;box-shadow:3px 5px 3px #d77;font-weight:bolder;}

#good{border:solid 2px #5f5;box-shadow:4px 4px 50px 5px #7f7;background-color:#030;margin-bottom:0px;margin-top:25px;}
#good .buttons{width:340px;}
#good .graph{width:555px;padding:16px 0 0;}
#good .button{width:128px;height:55px;padding-top:10px;margin:2px 10px 24px;display:inline-block;background-color:#cfc;color:#333;box-shadow:3px 5px 3px #7d7;font-weight:bolder;}
#good .title{border-bottom:solid 1px #070;letter-spacing:8px;color:#eee;font-weight:bolder;font-size:16px;text-align:center;}

#diff{border-top:solid 2px #5f5;border-bottom:solid 2px #f55;background:linear-gradient(#030, #300);margin-bottom:25px;margin-top:25px;}
.graphique{width:930px;height:450px;padding:16px 0px 0px 28px;}

.clearBoth { clear:both; }

.yellowLight{box-shadow:4px 4px 50px 5px #ff7;}
.redLight{box-shadow:4px 4px 50px 5px #f88;}
.greenLight{box-shadow:4px 4px 50px 5px #7f7;}